button {
    height: 50px;
    width: 280px;
    margin: 50px;
    border-radius: 20px;
    background: $color-gradient;
    box-shadow: 5px 5px 15px 5px #000000;
    transition: font-size 200ms  ;
    &:hover {
        font-size: 22px;
        background-size: 180% 180%;
        box-shadow: 2px 2px 10px 3px #000000;
    }
    &:active {
        box-shadow: 5px 5px 15px 5px #CE5937;
    }
}
    .btn {
        &--profil{
            @include scaling-animation(11.5s);
        }
        &--contact{
            @include scaling-animation(30s);
        }
        &--again {
            @include scaling-animation(3s);
        }
    }

@media screen and (max-width: 630px) {
    button {
        margin: 20px;
        height: 45px;
        width: 60vw;       
    }
}