
@font-face {
    font-family: 'hhenumregular';
    src: url('/public/polices/hhenum-regular-webfont.eot');
    src: url('/public/polices/hhenum-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/polices/hhenum-regular-webfont.woff2') format('woff2'),
         url('/public/polices/hhenum-regular-webfont.woff') format('woff'),
         url('/public/polices/hhenum-regular-webfont.ttf') format('truetype'),
         url('/public/polices/hhenum-regular-webfont.svg#hhenumregular') format('svg');
    font-weight: normal;
    font-style: normal;


}