main {
    position: relative;
    h2.h-profil {
        
        @include scaling-animation(6s);
        text-align: center;
        margin: 20px;
        text-decoration : underline;
    
} 
}

.profile-selected {
    @include scaling-reverse(9.5s);
    
}
.card-profil { 
    @include scaling-animation(7s);
    text-align: center;
    width: 500px;
    margin: 60px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-shadow: 2px 2px 2px grey;
    img {
        border: 2px black solid;
        box-shadow: 4px 4px 4px grey;
    }
}

.card-cryo {
    @include scaling-reverse(23.5s);
    position: absolute;
    margin: 0  auto ;
    top: 20px;
    right: 0;
    left: 0;
    text-align: center;
    width: 500px;
    &__comp {
        @include scaling-animation(14s);
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    &--stase {
        @include scaling-animation(11s);
    }
    &--comp {
        @include scaling-animation(13s);
    }
    p {
        margin-bottom: 35px;
        text-shadow: 1px 6px 6px rgba(31, 232, 247, 0.849);
    }
}

.progress {
    @include scaling-animation(8.7s);
    width: 330px;
    height: 30px;
    border: 2px solid black;
    padding: 4px;
    &__bar {
        width: 100%;
        height: 100%;
        transform-origin: left;
        background: orange;
        &--html {
            animation: progress-bar-1 2.5s 15s both cubic-bezier(.72,1.53,.92,.42);
        }
        &--css {
            animation: progress-bar-2 3s 17s both cubic-bezier(.69,.51,.89,-0.67);
        }
        &--js {
            animation: progress-bar-3 4s 19s  both;
        }
    }
}
.card-error {    
    @include display-card;
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    text-shadow: 1px 6px 6px $colour-hot-light;
    &__neuro {
    @include scaling-animation(25s);
      font-size: 70px;
      text-shadow: 2px 2px 2px $colour-hot;
    }
    &__forma {
        @include scaling-animation(26.3s);
    }
    &__envoie {
        @include scaling-animation(28s);
    }
}
p {
    margin-top: 20px;
}
