@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes rotation-cercle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes scale-cercle {
    0% {
        transform: scale(0.2);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(0.95);
    }
}

@keyframes chargement {
    0% {
        transform: scale(1)
    }
    80% {
        transform: scale(0.5)
    }
    100% {
        transform: scale(0)
    }
}

@keyframes scaling {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes progress-bar-1 {
    0% {
        transform: scaleX(0);
    }
    50% {
        transform: scaleX(0.2);
    }
    98% {
        background: orange;
    }
    100% {
        transform: scaleX(1);
        background: rgb(39, 230, 39);
    }
    
}
@keyframes progress-bar-2 {
    0% {
        transform: scaleX(0);
    }
    50%{
        transform: scaleX(0.35)
    }
    99% {
        background: orange;
    }
    100% {
        transform: scaleX(1);
        background: rgb(16, 219, 16);
    }
}
@keyframes progress-bar-3 {
    0% {
        transform: scaleX(0);
    }
    50% {
        transform: scaleX(0.5);
        
    }
    90% {
        transform: scaleX(0.6);
        
    }
    99% {
        background: orange;
    }
    100% {
        transform: scaleX(0.2);
        background: red;
    }
}

@keyframes btn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes transY {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-1000);
    }
}

