$colour-primary: #7451eb;
$colour-secondary: #D8CEF9;
// $colour-accent: #D6FFF5;
// $colour-white: #fff;
// $colour-invalid: #DB464B;

$logo-width: 130px;
$logo-height: 120px;

$logo-cercle-width: 50px;
$logo-cercle-height: 50px;
$logo-cercle-top: 10px;

$logo-demicercle-width: 100px;
$logo-demicercle-height: 100px;
$logo-demicercle-bottom: -50px;

