.intro {
margin-top: 40px;
    border: 2px black solid;
    text-align: center;

    &__alerte {
      

    }
    &__fluctu {

    }
    &__agent {

    }
}
.chargement {
    animation: chargement 1s 5s forwards;
}

.loading {
    height: 20vh;
    width: 20vh;
    border:  black 5px;
    border-left-style: dotted;
    border-right-style: dotted;
    border-bottom-style:dashed;
    border-top-style:dashed;
    border-radius: 50%;
    animation: rotation-cercle 5 2s   alternate ease-in;
    &__cercle {
        background-color: $colour-primary;
        border-radius: 50%;
        height: 100%;
        width: 100%;
        animation: scale-cercle 8 2s alternate ;
    }

}

@keyframes rotation-cercle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes scale-cercle {
    0% {
        transform: scale(0.2);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(0.95);
    }
}

@keyframes chargement {
    0% {
        transform: scale(1)
    }
    100% {
        transform: scale(0)
    }
}