
.opening {    
    margin-top: 20px;
    @include display-card;
    &__intro{
        margin-top: 20px;
        text-shadow: 1px 6px 6px $colour-hot-light;
        &--alerte {
            @include scaling-animation(6s);
            font-size: 70px;
            text-shadow: 2px 2px 2px $colour-hot;
        }
        &--fluctu {
            @include scaling-animation(7.3s);
        }
        &--agent {

            @include scaling-animation(9s);
        }
}
}

@media screen and (max-width: 573px) {
    // .card {
    //     width: 100%;
    //     // justify-content: space-between;
    //     }
    
    img {
        width: 30%;
    }
}